body {
  background-color: #eaeded;
  margin: 0px;
  padding: 0px;
}
#main {
  display: grid;
  grid-template-columns: 70% 27%;
  gap: 20px;
}

/* #main2{
    border: 1px solid rgb(21, 15, 15);
} */
#main11 {
  display: flex;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin-left: 20px;
}
#navbar {
  width: 100%;
  height: 80px;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 30px;
  background-color: white;
}
#main{
  margin: 50px;
}
#main111 img{
  width: 200px;
  margin-right: 30px;
}
.plus{
  padding: 5px 10px;
  margin-right:20px;
}

#main21 {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid red; */
  padding: 20px;
  height: 280px;
  margin-bottom: 20px;
  border-radius: 8px;
}
#main21 > div {
  display: flex;
}
#main21 > div img {
  margin-top: 20px;
}
#main21 > div p {
  margin-left: 10px;
}

#main22 {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 2px solid red; */
  padding: 25px;
  height: 650px;
  border-radius: 8px;
}
#main2212 {
  display: flex;
  margin: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#main2221 {
  margin-bottom: 30px;
}
#main2211 img {
  width: 100px;
  margin-right: 20px;
}

#main2212 > div p {
  margin-top: -1px;
}
#opt1 h2 {
  margin-left: 15px;
  margin-bottom: 5px;
}
#checkbox1 {
  margin-left: 19px;
}
#btn1 {
  margin-top: 20px;
  margin-left: 15px;
}
#btn11 {
  border-radius: 10px;

  font-weight: 600;
  background-color: #ffd814;
  padding: 10px;
  border: none;
  width: 100%;
}
#select1 {
  margin-left: 15px;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-weight: 300;
}
.select11 {
  margin-bottom: 30px;
  width: 100px;
  color: red;
}

#btnMain2 {
  padding: 5px 20px;
  background-color: #ffd814;
  border-radius: 7px;
  border: none;
}

#para1{
  width: 67%;
  margin-left: 20px;
}

#btn44{
  background-color: #ffd814;
  padding: 7px 50px;
  border-radius: 5px;
  border: none;
}
#dataonly {
  width: 100%;
  height: 1220px;
  /* border: 1px solid red; */
  margin-top: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#footer {
  width: 100%;
  height: 620px;
  /* border: 1px solid red; */
  margin-top: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
