@media only screen and (max-width:1200px) {
    #main22{
        display: none;
    }
    #dataonly1{
        grid-template-columns: repeat(3,1fr);
    }
    #pagination{
        display: flex;
        justify-content: center;
        margin-left: 10%;
    }
    

}
@media only screen and (min-width:  830px) and (max-width: 1068px) {
#main11{
    display: block;
    width: 60%;
}
#dataonly1{
    grid-template-columns: repeat(3,1fr);
}
#main2{
    margin-left: -100px;
    margin-right: 40px;
}
.plus{
    margin-right: 5px;
}
}
@media only screen and (max-width: 930px) {
    #socal{
        display: none;
    }
    #dataonly1{
        grid-template-columns: repeat(2,1fr);
    }
    #para1{
        margin-left: 10%;
    }
}
@media only screen and (max-width: 830px) and (min-width:740px){
    #main2{
        display: none;
    }
    #main1{
        width: 136%;
    }
    .plus{
        margin-right: 5px;
    }
}
@media only screen and (max-width: 740px){
    #main2{
        display: none;
    }
    #main11{
        display: block;
        width: 100%;
    }
    .logo-img img{
        margin-left: 15%;
    }
}
@media only screen and (max-width: 650px){
    .plus{
        margin-right: 5px;
    }
    .nav-links{
        display: none;
    }
    #dataonly1{
        grid-template-columns: repeat(1,1fr);
    }
    #pagination{
        display:none;
        
    }
    #main11{
        width: 128%;
    }
   
}
@media only screen and (max-width:545px){
    .logo-img{
        display: none;
    }
    .plus{
        padding: 5px;
    }
    #main11{
        width: 128%;
    }
    #btn44{
        padding: 6px 30px;
    }
    #main1{
        margin-left: -10%;
        margin-right: 20px;
    }
}
@media only screen and (max-width:360px){
    header{
        margin-left: 0px;
    }
    #main111 img{
        width:100%;
    }
    #dataonly121 img{
        width:100%;
    }
    #para1{
        margin-left: 20%;
    }
    .plus{
        padding: 5px;
        margin-bottom: 8px;
    }
    .privacy{
        display: none;
    }
}
@media only screen and (max-width:275px){
   .plus:nth-child(4){
    margin-left: 10%;
     /* color:red */
   }
   #para1{
    margin-left: 20%;
}
.plus{
    padding: 8px;
    margin-bottom: 8px;
}
.privacy{
    display: block;
}
}


.container5 {
    background-color: rgb(0,6,16);
}

.main-footer {
    display: flex;
    
}

.footer {
    color: white;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
.logo-img img {
    height: 135px;
    margin: 50px 247px;
    border-radius: 300px 1px ;
    
}

.arrow {
    margin-right: 60px;
    margin-top: 120px;
    font-size: 30px;
}

.privacy {
    display: flex;
    justify-content: space-between;
    margin: -15px 10px 0 10px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

b{
    font-size: 18px;
}

/* @media screen and (max-width: 1285px){
    .header{
        overflow: hidden;
        position: relative;
    }
    .nav-links{
        display: none;
    }
    .nav-links a{
        float: left;
        color: rgb(8, 8, 8);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    
    
} */

