@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -35px;
}

.logo {
    cursor: pointer;
    height: 130px;
    

}

nav {
    margin-left: 40%;
}
.nav-links {
    list-style: none;
    
}

.nav-links, li {
    display: inline-block;
    padding: 25px
}

.social-link {
    padding-left: 30px;
}

.facebook-logo {
    width: 45px;
   
}

.insta-logo {
    width: 45px;
}

.login {
    padding: 9px 25px;
    border: none;
    border-radius: 10px;
    background-color: rgb(254,211,60);
    cursor: pointer;
    font-weight: 500;
}

.add-bag {
    font-size: 25px;
    border: none;
    margin-left: -20px;
}
